:root {
  /* Fonts */
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-family-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

  /* Text colors */
  --text-color-primary: #007bff;
  --text-color-secondary: #6c757d;
  --text-color-success: #28a745;
  --text-color-danger: #dc3545;
  --text-color-warning: #ffc107;
  --text-color-black: #000;
  --text-color-white: #fff;
}

/* Body */
body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Code */
code {
  font-family: var(--font-family-code);
  color: var(--text-color-white);
  background-color: var(--text-color-black);
  padding: 2px 4px;
}

/* Responsive Container */
.container {
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-family: var(--font-family);
  color: var(--text-color-primary);
}
